node_modules
dist
out
.DS_Store
.eslintcache
*.log*

CLAUDE.md
AGENTS.md
dev-app-update.yml

.vscode/
.qoder/
.claude/
.opencode/
.worktrees/
.rpiv/
.zcode/
build/*
!build/entitlements.mac.plist
!build/icon.icns
!build/icon.ico
!build/icon.png
!build/installer.nsh
node_modules/
dist/
out/
docs/**

opencode.json
tsconfig.node.tsbuildinfo
tsconfig.web.tsbuildinfo
