/**
 * Main CSS Entry Point
 * 主样式入口
 */

@import './base.css';
@import '../styles/glass.css';
@import '../styles/base-components.css';
@import '../themes/blooming-flowers.css';
@import '../styles/forms.css';

body {
  margin: 0;
  padding: 0;
}

#app {
  width: 100vw;
  height: 100vh;
}
